<h1>Listing songs</h1>
<%= link_to 'New song', new_song_path %>
<table>
  <tr>
		<th></th>
    <th>Title</th>
    <th>Band</th>
    <th>Genre</th>
  </tr>

  <% @songs.each do |song| %>
    <tr>
			<td><%= audio_tag song.mp3.url %></td>
      <td><%= song.title %></td>
      <td><%= song.band %></td>
			<td><%= link_to 'Show', song_path(song) %></td>
			<td><%= link_to 'Edit', edit_song_path(song) %></td>
			<td><%= link_to 'Destroy', song_path(song), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
