<p>
<%= @song.mp3.url %>
</p>

<p>
<%= @song.mp3_file_name %>
</p>

<p>
<%= audio_tag (@song.mp3.url), controls: "controls", alt: "Please use chrome, ie, or safari", preload: :auto  %>
</p>
<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Band:</strong>
  <%= @song.band %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @song.genre %>
</p>

<%= link_to 'Back', songs_path %>
| <%= link_to 'Edit', edit_song_path(@song) %>
