<h1>Listing bands</h1>
<%= link_to 'New band', new_band_path %>
<br>
<div class="container">
<div class="row">
	<ul class="thumbnails">
		<% @bands.each do |band| %>
			<li class="span4">
				<div class="thumbnail">
					<img data-src="holder.js/300x200" alt="">
<%#= image_tag(band.photo.url(:medium)) %>
					<h3><%= band.title %></h3>
					<p><%= band.description %></p>
				</div>
			</li>
		<% end %>
	</ul>
</div>
</div>



<table>
  <tr>
		<th></th>
    <th>Title</th>
    <th>Description</th>
    <th>Genre</th>
  </tr>

  <% @bands.each do |band| %>
    <tr>
			<td><%= link_to image_tag(band.photo.url(:thumb)), band_path(band) %></td>
      <td><%= link_to band.title, band_path(band) %></td>
      <td><%= band.description %></td>
			<td><%= link_to 'Show', band_path(band) %></td>
			<td><%= link_to 'Edit', edit_band_path(band) %></td>
			<td><%= link_to 'Destroy', band_path(band), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
