<%= image_tag @band.photo.url %>
<p>
  <strong>Title:</strong>
  <%= @band.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @band.description %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @band.genre %>
</p>
<p>
	<strong>Songs:</strong>
	<% Song.find_all_by_band(@band.title).each do |song| %>
		<%= link_to song.title, song_path(song) %>
	<% end %>
</p>
<%= link_to 'Back', bands_path %>
| <%= link_to 'Edit', edit_band_path(@band) %>
