	<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
<% @gigs.each do |gig| %>

  <div class="box col5 brow">

  <div class="item">
    <h3><%= link_to(gig.title, gig_path(gig)) %></h3>
  </div>

  <div class="item w1">
    <p>
      <a href="https://scontent-a-ord.xx.fbcdn.net/hphotos-prn1/1234901_10151780690694526_847752889_n.jpg" title="Whitlow's on Wilson by nemoorange, on Flickr"><img src="https://scontent-a-ord.xx.fbcdn.net/hphotos-prn1/1234901_10151780690694526_847752889_n.jpg" alt="Whitlow's on Wilson" /></a>
    </p>
  </div>
	<p>Location:</p><h4><%= link_to(gig.venue.title,venue_path(gig.venue)) %></h4>
  <p><%= gig.description %></p>
	<h4>Band List:</h4>
	<% gig.bands.each do |b| %>
		<div class="item w5 brow">
			<div class="box col1 bandname">
				<%= link_to(b.title,band_path(b)) %>
			</div>
			<div class="box col2">
				<p><%= b.description %></p>
			</div>
			<div class="box col1 songlist">
				<p> Check out their songs!</p>
				<% b.songs.find(:all, limit: 3).each do |s| %>
					<p><%= link_to(s.title, song_path(s)) %></p>
				<% end %>
			</div>
		</div>
	<% end %>

</div>
<% end %>
</div>

<%- model_class = Gig -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:start_time) %></th>
      <th><%= model_class.human_attribute_name(:bands) %></th>
      <th><%= model_class.human_attribute_name(:venue) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @gigs.each do |gig| %>
      <tr>
        <td><%= link_to gig.id, gig_path(gig) %></td>
        <td><%= gig.title %></td>
        <td><%= gig.description %></td>
        <td><%= gig.start_time %></td>
        <td><%= gig.bands.map{|g| g.title}.join(",") %></td>
        <td><%= gig.venue.title %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_gig_path(gig), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      gig_path(gig),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_gig_path,
            :class => 'btn btn-primary' %>
